<cruisecontrol>
	<project name="Vfp_Sample">

		<webURL>http://buildserver/ccnet/</webURL>

		<artifactDirectory>C:\AutomatedBuild\Output\Vfp_Sample</artifactDirectory>

		<sourcecontrol type="vss">
			<executable>C:\Programme\VSS2005\SS.EXE</executable>
			<project>$/Vfp_Sample</project>
			<username>ccnet</username>
			<password>ccnet</password>
			<ssdir>\\TetraNote\Devcon2008\CI\VSS2005_Database\</ssdir>
			<applyLabel>false</applyLabel>
			<autoGetSource>true</autoGetSource>
			<alwaysGetLatest>true</alwaysGetLatest>
			<workingDirectory>C:\AutomatedBuild\Source\Vfp_Sample</workingDirectory>
			<culture>de-DE</culture>
			<cleanCopy>false</cleanCopy>
			<timeout units="seconds">20</timeout>
		</sourcecontrol>

		<tasks>
			<exec>
				<executable>C:\Programme\Vfp9\Vfp9.exe</executable>
				<buildArgs>-t -a -cC:\AutomatedBuild\Config.fpw C:\AutomatedBuild\BuildProject.prg 
					C:\AutomatedBuild\Source\Vfp_Sample\Vfp_Sample.pjm</buildArgs>
				<baseDirectory>C:\AutomatedBuild\Source\vfp_Sample</baseDirectory>
				<buildTimeoutSeconds>20</buildTimeoutSeconds>
			</exec>
		</tasks>


		<publishers>
			<merge>
				<files>
					<file>C:\AutomatedBuild\Source\Vfp_Sample\Vfp_Sample.err</file>
					<file>C:\AutomatedBuild\Source\Vfp_Sample\_Vfp_Sample.err</file>
				</files>
			</merge>
			<xmllogger />
		</publishers>

	</project>
</cruisecontrol>
